
body{
  background-image: url(wp12446292-videogame-minimalist-wallpapers.jpg);
  background-repeat: none;
  background-size:  auto;
}

h1{
  text-align: center;
  color: white;
  text-shadow:  30px 15px 15px rgb(255, 94, 0);
  font-size: 60px;
}

h2, p {
  color: black;
  font-size: 18px;
}

a{
align-items: center;
}


#juegos-container{
    display: grid;
    grid-template-columns: repeat(3, minmax(200px, 1fr));
    gap: 20px;
    margin-right: auto;
    margin-top: 20px;
}

.juego{
    background-color: #f0f0f0;
  padding: 30px;
  border: 1px solid #ddd;
  border-radius: 5px;
  backdrop-filter: blur(30px);
  background-color: rgba(255, 255, 255, 0.295);
  border-radius: 12px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.juego:hover{
  box-shadow: 5px 4px 8px #e68608,(218, 30, 30, 0.582);
  text-shadow: 0 0 10px #61360f, 0 0 20px #61360f, 0 0 30px #61360f, 0 0 40px #e68608, 0 0 70px  #e68608, 0 0 80px  #e68608, 0 0 100px #e68608;
  background-color: rgba(255, 255, 255, 0.562);
}


.juego img{
    max-width: 100%; 
    height: auto; 
    display: block;
    border-radius: 5%;
  }

  .juego img:hover{
    display: flex;
    height: 60%;
  }